<h1>Crea un bel todo</h1>

<% if @todo.errors.any? %>
  <p>
    <h3>I seguenti errorini ti hanno fottuto, niente salvataggio :(</h3>
    <ul>
      <% @todo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </p>
<% end %>
<%= form_for @todo do |f| %>
  <p>
    <div>
      <%= f.label :name %>
    </div>
    <div>
      <%= f.text_field :name %>
    </div>
  </p>
  <p>
    <div>
      <%= f.label :description %>
    </div>
    <div>
      <%= f.text_area :description %>
    </div>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Torna alla lista', todos_path %>
